@*jsGrid Table*@
<div class="container">

    <div class="col-md-6">
        <h1>股票帳戶概覽</h1>
        <canvas id="GetCurrentDoughnut2"></canvas>
    </div>
    <div class="col-md-6">
        <h1>資產總計</h1>

    </div>

</div>