
<div class="container" >

    <div class="col-md-6" >
        <h1>持股分布</h1>
        <canvas id="GetCurrentDoughnut2"></canvas>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <h1>資產總計</h1>
        </div>

            <table class="table">
                <tr>
                    <th>股票資產總額:</th>
                    <td id="AccTotal"></td>

                </tr>
                <tr>
                    <th>未實現獲利:</th>
                    <td id="AccProfit"></td>

                </tr>
                <tr>
                    <th>未實現報酬率:</th>
                    <td id="AccProfitPercent"></td>

                </tr>



            </table>

    </div>

</div>