@{
    ViewBag.Title = "IndexIs";
    Layout = "~/Views/Shared/_LayoutEZ.cshtml";
}


<h2>儲蓄險</h2>
<div>
    <table id="GetIs" class="table table-striped table-bordered" style="width:100%"></table>
</div>