@{
    ViewBag.Title = "IndexFX";
    Layout = "~/Views/Shared/_LayoutEZ.cshtml";
    //Layout = null;
}


<h2>外匯</h2>
<div>
    <table id="GetFX" class="table table-striped table-bordered" style="width:100%"></table>
</div>