@model IEnumerable<F1005.Models.StockHistory>

@{
    ViewBag.Title = "IndexStock";
    Layout = null;
}

<h2>股票</h2>
<div>
    <table id="GetStock" class="table table-striped table-bordered" style="width:100%"></table>
</div>


